.config-header {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 30px;
}

.config-header button {
    padding: 10px;
    border: none;
    background-color: var(--primary);
    color: #fff;
    border-radius: 2px;
    font-size: 0.7em;
}

.config-header .sort-wrapper {
    position: relative;
}

.config-header .sort-wrapper .selections {
    position: absolute;
    top: 34px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: var(--secondary);
    padding: 5px;
    width: max-content;
    border-radius: 2px;
    z-index: 1;
}

.config-header .sort-wrapper .selections h1 {
    position: relative;
    font-size: 0.6rem;
    font-weight: 300;
    margin-left: 16px;
    padding: 5px 10px;
    text-align: start;
    color: #fff;
}

.config-header .sort-wrapper .selections h1 i {
    position: absolute;
    left: -10px;
    top: 6px;
}

.config-header .sort-wrapper .selections hr {
    width: 100%;
}

.config-header button i {
    margin-right: 8px;
}

.room-cont {
    position: relative;
    display: flex;
    flex-direction: column;
}

.room-cont .room-type-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: #fff;
    padding: 5px;
}

.room-cont .room-type-header h1 {
    font-size: 0.8rem;
}

.room-cont .room-type-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 100px;
    background-color: #fff;
    padding: 5px;
}

.room-cont .room-type-content .room {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    color: var(--primary);
    overflow: hidden;
}

.room-cont .room-type-content .room h1 {
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
}

.room-cont .room-type-content .room h2 {
    font-size: 0.8rem;
}

.room-cont .room-type-content .room h3,
.room-cont .room-type-content .room h4 {
    font-size: 0.5rem;
}

.room-cont .room-type-content .room h5 {
    font-size: 0.5rem;
    height: 30px;
    overflow-y: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.room-cont .room-type-content .room span {
    position: absolute;
    font-size: 0.5rem;
    background-color: var(--red);
    padding: 2px;
    right: 0;
    top: 0;
    color: #fff;
    font-weight: 300;
    border-bottom-left-radius: 4px;
}

.room-cont .room-type-content .room img {
    align-self: center;
    width: 100px;
    height: 60px;
}

.room-cont .room-type-content .room-settings {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--secondary);
    padding: 5px;
    z-index: 1;
}

.room-cont .room-type-content .room-settings button {
    border: none;
    width: 60px;
    padding-block: 4px;
    font-size: 0.6rem;
    background-color: #fff;
}

.room-cont .room-type-content .no-room {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.room-cont .room-type-content .no-room button {
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}

.room-cont .room-type-delete {
    background-color: #fff;
    padding: 5px;
}

.room-cont .room-type-delete h1 {
    text-align: center;
    font-size: 1rem;
}

.room-cont .room-type-delete h2 {
    font-size: 0.8rem;
    color: var(--red);
    margin-bottom: 10px;
}

.room-cont .room-type-delete .bttns {
    display: flex;
    justify-content: space-evenly;
}

.room-cont .room-type-delete .bttns button {
    border: none;
    width: 50px;
    padding-block: 5px;
    color: #fff;
    border-radius: 2px;
}

.room-cont .room-type-delete .bttns button:first-child {
    background-color: var(--red);
}

.room-cont .room-type-delete .bttns button:last-child {
    background-color: var(--primary);
}

.room-add {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    background-color: #fff;
    padding: 20px 40px;
}

.room-add form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.room-add .room-add-input {
    display: flex;
    flex-direction: column;
}

.room-add .room-add-input:last-of-type {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.room-add .room-add-input img {
    width: 100%;
    height: 120px;
    border: 1px solid var(--primary);
}

.room-add .room-add-input label {
    font-size: 0.8rem;
}

.room-add .room-add-input input[type="number"],
.room-add .room-add-input input[type="text"],
.room-add textarea {
    padding: 5px;
    border: 1px solid var(--primary);
}

.room-add .room-add-input input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.room-add .bttns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.room-add button {
    width: 60px;
    align-self: flex-end;
    padding-block: 10px;
    background-color: var(--green);
    border: none;
    color: #fff;
    border-radius: 2px;
}

.room-add .bttns button:first-child {
    background-color: var(--red);
}

.room-add i {
    position: absolute;
    right: 5px;
    top: 5px;
    color: var(--red);
    font-size: 1.5rem;
}

.infos {
    display: flex;
    flex-direction: column;
}

.infos h1 {
    font-size: 1rem;
    color: var(--primary);
}

.infos h1 b {
    font-weight: 900;
    font-size: 1.8rem;
}

.change-down-payment {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    background-color: var(--primary);
    padding: 25px 5px 5px 5px;
}

.change-down-payment input {
    padding: 5px;
    border: none;
    font-size: 0.8rem;
    flex: 1;
}

.change-down-payment i {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
}

.change-down-payment h1 {
    position: absolute;
    top: 5px;
    font-size: 0.7rem;
    color: #fff;
}

.change-down-payment button {
    padding: 5px;
    border: none;
    background-color: var(--green);
    color: #fff;
    border-radius: 2px;
}

.add-room-type {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    background-color: var(--primary);
    padding: 25px 5px 5px 5px;
}

.add-room-type input {
    padding: 5px;
    border: none;
    font-size: 0.8rem;
    flex: 1;
}

.add-room-type i {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
}

.add-room-type h1 {
    position: absolute;
    top: 5px;
    font-size: 0.8rem;
    color: #fff;
}

.add-room-type button {
    padding: 5px;
    border: none;
    background-color: var(--green);
    color: #fff;
    border-radius: 2px;
}

.card-and-table-togg-cont {
    display: flex;
    border: 1px solid var(--primary);
    width: fit-content;
    border-radius: 20px;
    overflow: hidden;
    margin-block: 10px;
}

.card-and-table-togg-cont button {
    padding: 5px 20px;
    border: none;
    background-color: #fff;
    font-size: 0.6em;
    font-weight: 700;
}

.room-table-cont {
    overflow-x: auto;
    padding: 10px 5px;
    width: 100%;
    animation: fadeIn 0.5s;
}

.room-table-cont img {
    width: 100%;
    height: auto;
}

.room-table-cont table {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    border-collapse: collapse;
    border-bottom: 2px solid var(--primary);
}

.room-table-cont table th,
.room-table-cont table td {
    font-size: 0.6rem;
    padding: 5px;
    text-align: center;
    min-width: 60px;
    max-width: 60px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.room-table-cont table th:last-of-type,
.room-table-cont table td:last-of-type {
    min-width: 200px;
    max-width: 200px;
}

.room-table-cont table td {
    position: relative;
    border: 1px solid #ddd;
}

.room-table-cont table td span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--red);
    color: #fff;
    padding: 2px;
    font-size: 0.5rem;
}

.room-table-cont table thead {
    background-color: var(--primary);
    color: #fff;
}

.room-table-cont table td:last-of-type {
    text-align: left;
}

/* amenity */

.amenity-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.amenity-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    color: var(--primary);
    max-width: min-content;
    overflow: hidden;
    animation: fadeIn 0.5s;
}

.amenity-card h1 {
    text-align: center;
    font-size: 1rem;
    margin-top: 6px;
}

.amenity-card img {
    width: 100px;
    height: 60px;
}

.amenity-card h2 {
    font-size: 1rem;
}

.amenity-card h5 {
    font-size: 0.5rem;
    height: 30px;
    overflow-y: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.amenity-card span {
    position: absolute;
    font-size: 0.5rem;
    background-color: var(--red);
    padding: 2px;
    right: 0;
    top: 0;
    color: #fff;
    font-weight: 300;
    border-bottom-left-radius: 4px;
}

.amenity-table-cont {
    overflow-x: auto;
    padding: 5px;
    animation: fadeIn 0.5s;
}

.amenity-table-cont img {
    width: 100%;
    height: auto;
}

.amenity-table-cont table {
    border-collapse: collapse;
    border-bottom: 2px solid var(--primary);
}

.amenity-table-cont th,
.amenity-table-cont td {
    font-size: 0.6rem;
    padding: 5px;
    text-align: center;
    min-width: 60px;
    max-width: 60px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.amenity-table-cont tbody tr {
    background-color: #fff;
}

.amenity-table-cont td {
    position: relative;
    border: 1px solid #ddd;
}

.amenity-table-cont table td span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--red);
    color: #fff;
    padding: 2px;
    font-size: 0.5rem;
}

.amenity-table-cont table thead {
    background-color: var(--primary);
    color: #fff;
}

.amenity-table-cont th:last-of-type,
.amenity-table-cont td:last-of-type {
    min-width: 200px;
    max-width: 200px;
}

.amenity-table-cont table td:last-of-type {
    text-align: left;
}


/* gallery */

.gallery-add-cont {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    border: 3px solid var(--primary);
    border-radius: 4px;
    color: var(--primary);
    width: fit-content;
    margin-bottom: 10px;
}

.gallery-add {
    display: flex;
    gap: 5px;
}

.gallery-add textarea {
    padding: 5px;
    border: 1px solid var(--primary);
    font-size: 0.8rem;
}

.gallery-add img {
    width: 100px;
    height: fit-content;
    max-height: 100px;
    object-fit: contain;
    object-position: top;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.gallery-add-cont h1 {
    font-size: 1rem;
}

.gallery-add-cont h2 {
    font-size: 0.8rem;
}

.gallery-add-cont .bttns {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.gallery-add-cont .bttns button {
    padding-block: 5px;
    border: none;
    background-color: var(--green);
    color: #fff;
    border-radius: 2px;
    width: 70px;
}

.gallery-add-cont button:last-of-type {
    background-color: var(--red);
}

.gallery-add-cont .hide-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.gallery-add-cont .hide-wrapper input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.gallery-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-cont .photo {
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    animation: fadeIn 0.5s;
}

.gallery-cont .photo img {
    width: 120px;
    height: 80px;
    object-fit: contain;
    object-position: top;
}

.gallery-cont .photo hr {
    margin-inline: 5px;
}

.gallery-cont .photo p {
    height: 80px;
    font-size: 0.65rem;
    white-space: pre-wrap;
    overflow-y: auto;
    margin: 5px;
}

.gallery-cont .photo h2 {
    position: absolute;
    background-color: var(--red);
    color: #fff;
    padding: 2px 6px;
    font-size: 0.5rem;
    top: 0;
    right: 0;
    font-weight: 300;
    border-bottom-left-radius: 2px;
}



/* PC */
@media (min-width: 1025px) {
    .config-header button {
        cursor: pointer;
    }

    .config-header button:hover {
        background-color: var(--primary-dark);
    }

    .room-cont .room-type-header {
        padding: 10px;
    }

    .room-cont .room-type-header h1 {
        font-size: 1rem;
    }

    .room-cont .room-type-header i {
        cursor: pointer;
    }

    .room-cont .room-type-content {
        gap: 20px;
        padding: 20px 10px;
    }

    .room-cont .room-type-content .room {
        width: 200px;
        padding: 10px;
        transition: all 0.1s;
        cursor: pointer;
        animation: fadeIn 0.5s;
    }

    .room-cont .room-type-content .room:hover {
        transform: scale(1.02);
    }

    .room-cont .room-type-content .room h1 {
        font-size: 2rem;
    }

    .room-cont .room-type-content .room h2 {
        font-size: 1.6rem;
    }

    .room-cont .room-type-content .room h3,
    .room-cont .room-type-content .room h4 {
        font-size: 1rem;
    }

    .room-cont .room-type-content .room h5 {
        font-size: 0.8rem;
        height: 100px;
    }

    .room-cont .room-type-content .room span {
        font-size: 0.8rem;
        padding: 4px;
        font-weight: 400;
    }

    .room-cont .room-type-content .room img {
        width: 200px;
        height: 120px;
    }

    .room-cont .room-type-content .room-settings button {
        width: 100px;
        padding-block: 6px;
        font-size: 0.8rem;
        cursor: pointer;
    }

    .room-cont .room-type-content .no-room button {
        padding: 15px;
        cursor: pointer;
    }

    .room-cont .room-type-delete {
        padding: 20px;
    }

    .room-cont .room-type-delete h1 {
        font-size: 2rem;
    }

    .room-cont .room-type-delete h2 {
        font-size: 1rem;
        margin: 20px;
    }

    .room-cont .room-type-delete .bttns button {
        width: 100px;
        padding-block: 15px;
        cursor: pointer;
    }

    .room-add form {
        width: 350px;
    }

    .room-add .room-add-input img {
        height: 180px;
    }

    .room-add .room-add-input label {
        font-size: 1rem;
    }

    .room-add .room-add-input input[type="checkbox"] {
        width: 25px;
        height: 25px;
    }

    .room-add button {
        width: 80px;
        padding-block: 12px;
        cursor: pointer;
    }

    .room-add i {
        font-size: 2rem;
        cursor: pointer;
    }

    .infos h1 {
        font-size: 1.5rem;
    }

    .infos h1 b {
        font-size: 2.5rem;
    }

    .change-down-payment {
        max-width: 350px;
        padding: 50px 10px 10px 10px;
    }

    .change-down-payment input {
        padding: 10px;
        font-size: 1rem;
    }

    .change-down-payment i {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .change-down-payment h1 {
        top: 15px;
        font-size: 1rem;
    }

    .change-down-payment button {
        padding: 10px;
        cursor: pointer;
    }

    .add-room-type {
        max-width: 350px;
        padding: 50px 10px 10px 10px;
    }

    .add-room-type input {
        padding: 10px;
        font-size: 1rem;
    }

    .add-room-type i {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .add-room-type h1 {
        top: 15px;
        font-size: 1rem;
    }

    .add-room-type button {
        padding: 10px;
        cursor: pointer;
    }

    .room-table-cont img {
        width: 100%;
        height: auto;
    }

    .room-table-cont table {
        border-bottom: 3px solid var(--primary);
        width: 100%;
    }

    .room-table-cont table th,
    .room-table-cont table td {
        font-size: 0.8rem;
        min-width: 130px;
    }

    .room-table-cont table th:last-of-type,
    .room-table-cont table td:last-of-type {
        width: 100%;
    }

    .room-table-cont table tbody tr:hover {
        cursor: pointer;
        background-color: #eee;
    }

    .room-table-cont table td span {
        padding: 4px;
        font-size: 0.8rem;
    }

    .config-header .sort-wrapper .selections h1 {
        cursor: pointer;
    }

    .config-header .sort-wrapper .selections h1:hover {
        background-color: var(--primary-dark);
    }

    .card-and-table-togg-cont button {
        cursor: pointer;
    }

    .amenity-card {
        width: 200px;
        padding: 10px;
        transition: all 0.1s;
        cursor: pointer;
    }

    .amenity-card:hover {
        transform: scale(1.02);
    }

    .amenity-card h1 {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .amenity-card img {
        width: 200px;
        height: 120px;
    }

    .amenity-card h2 {
        font-size: 1.5rem;
    }

    .amenity-card h5 {
        font-size: 0.8rem;
        height: 80px;
    }

    .amenity-card span {
        font-size: 0.7rem;
        padding: 4px;
        font-weight: 400;
    }

    .amenity-table-cont img {
        width: 100%;
        height: auto;
    }

    .amenity-table-cont table tbody tr:hover {
        cursor: pointer;
        background-color: #eee;
    }

    .amenity-table-cont table {
        width: 100%;
        border-bottom: 3px solid var(--primary);
    }

    .amenity-table-cont th,
    .amenity-table-cont td {
        font-size: 0.8rem;
        min-width: 140px;
    }

    .amenity-table-cont th:last-of-type,
    .amenity-table-cont td:last-of-type {
        width: 100%;
    }

    .amenity-table-cont table td span {
        padding: 4px;
        font-size: 0.8rem;
    }

    .gallery-add-cont {
        border: 5px solid var(--primary);
    }

    .gallery-add {
        gap: 10px;
    }

    .gallery-add textarea {
        width: 300px;
    }

    .gallery-add img {
        width: 200px;
    }

    .gallery-add-cont .bttns button {
        cursor: pointer;
    }

    .gallery-cont {
        gap: 20px;
    }

    .gallery-cont .photo:hover {
        transform: scale(1.02);
        transition: all 0.1s;
        cursor: pointer;
    }

    .gallery-cont .photo img {
        width: 240px;
        height: 160px;
    }

    .gallery-cont .photo p {
        height: 120px;
        font-size: 0.8rem;
    }

    .gallery-cont .photo h2 {
        padding: 3px 8px;
        font-size: 0.7rem;
        border-bottom-left-radius: 4px;
    }
}