@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Atma:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

:root {
    --primary: #00173a;
    --primary-dark: #001852;
    --secondary: #00558e;

    --green: #4CAF50;
    --green-light: #4CAF5026;

    --blue: #2196F3;
    --blue-light: #2196F326;

    --gold: #FFD700;
    --light-gray: #AAAAAA;

    --red: #FF0000;
    --red-light: #ff000026;

}

body {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    user-select: none;
}

textarea {
    resize: none;
}

hr {
    border: 0;
    border-top: 1px solid var(--light-gray);
}





/* LOADER 2 */

/* From Uiverse.io by mrpumps31232 */
.loading-wave-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loading-bar {
    width: 15px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--primary);
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
    0% {
        height: 10px;
    }

    50% {
        height: 50px;
    }

    100% {
        height: 10px;
    }
}

/* LOADER */

/* From Uiverse.io by alexruix */
.loader {
    --cell-size: 25px;
    --cell-spacing: 1px;
    --cells: 3;
    --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
    display: flex;
    flex-wrap: wrap;
    width: var(--total-size);
    height: var(--total-size);
    margin: 50px;
}

.cell {
    flex: 0 0 var(--cell-size);
    margin: var(--cell-spacing);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    animation: 1.5s ripple ease infinite;
}

.cell.d-1 {
    animation-delay: 100ms;
}

.cell.d-2 {
    animation-delay: 200ms;
}

.cell.d-3 {
    animation-delay: 300ms;
}

.cell.d-4 {
    animation-delay: 400ms;
}

.cell:nth-child(1) {
    --cell-color: #00FF87;
}

.cell:nth-child(2) {
    --cell-color: #0CFD95;
}

.cell:nth-child(3) {
    --cell-color: #17FBA2;
}

.cell:nth-child(4) {
    --cell-color: #23F9B2;
}

.cell:nth-child(5) {
    --cell-color: #30F7C3;
}

.cell:nth-child(6) {
    --cell-color: #3DF5D4;
}

.cell:nth-child(7) {
    --cell-color: #45F4DE;
}

.cell:nth-child(8) {
    --cell-color: #53F1F0;
}

.cell:nth-child(9) {
    --cell-color: #60EFFF;
}

/*Animation*/
@keyframes ripple {
    0% {
        background-color: transparent;
    }

    30% {
        background-color: var(--cell-color);
    }

    60% {
        background-color: transparent;
    }

    100% {
        background-color: transparent;
    }
}

/* LOADER LINE */

/* From Uiverse.io by sawantyash11 */
.loader-line {
    --height-of-loader: 4px;
    --loader-color: var(--blue);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-of-loader);
}

.loader-line::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}


/* COMPONENTS */

.full-cont {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100svw;
    height: 100svh;
    z-index: 1;
    background-color: #00000099;
}

.success-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 250px;
    background-color: #fff;
    border: 3px solid var(--green);
    border-radius: 10px;
    padding: 10px;
}

.success-cont h1 {
    font-size: 1.5rem;
    color: var(--green);
}

.success-cont p {
    font-size: 0.8rem;
}

.success-cont i {
    color: var(--green);
    font-size: 3rem;
}

.failed-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 250px;
    background-color: #fff;
    border: 3px solid var(--red);
    border-radius: 10px;
    padding: 10px;
}

.failed-cont h1 {
    font-size: 1.5rem;
    color: #000;
}

.failed-cont p {
    font-size: 0.8rem;
    color: var(--red);
}

.failed-cont .fa-circle-xmark {
    color: var(--red);
    font-size: 3rem;
}

.failed-cont .fa-xmark {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}